<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="carrossel">

         <img class="quadro-imagem" src="../assets/palladium_1.png" alt="Shopping Palladium — fachada">
         <img class="quadro-imagem" src="../assets/palladium_2.png" alt="Shopping Palladium — interior">
        <img class="quadro-imagem" src="../assets/palladium_3.png" alt="Shopping Palladium — lojas">
        
    </div>

</body>
</html>