<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoppings</title>
    <link rel="stylesheet" href="../../components/imagem alinhada/img-alinhada.css">
</head>
<body>

    <div class="bloco">
        <img src="../../../assets/palladium_1.png" alt="Palladium">
        <div class="texto">
            <h1>Palladium</h1>
            <p>Avaliação</p>
            <div class="estrelas">★★★★★</div>
            <p>Av. Presidente Kennedy, 4121</p>
        </div>
    </div>

    <div class="bloco">
        <img src="../../../assets/palladium_4.png" alt="Shopping">
        <div class="texto">
            <h1>Shopping</h1>
            <p>Avaliação</p>
            <div class="estrelas">★★★★☆</div>
            <p>Endereço</p>
        </div>
    </div>
</body>
</html>