body {
    background: #f7f2e8;

}

.bloco {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.bloco img {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 5px solid #ded7ca;
    border-radius: 8px;
    box-shadow: 3px 5px 8px #00000033;
}

.texto h1 {
    margin: 0;
    font-size: 32px;
}

.texto p {
    margin: 0;
}

