.header {
    display: flex;
    background-color: var(--color-primary);
    align-items: center;
    gap: 840px;
    padding: 20px 18px 18px 20px;
    height: 70px;
}

.logo-h img {
    width: 178;
    height: 90px;
    margin: 0 0 10px 30px;
}

.texto-h  {
    color: var(--color-surface  );
    font-size: 9px;
    letter-spacing: 0.3px;
    margin: 0 0 0 180px;

}

.perfil-h img {
    margin: 0 0 0 10px;
    width: 45px;
    height: 45px;
}
.direita-h {
    display: flex;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 100px;
    height: 42px;
    width: 100%;

    border: 3px;
    border-color: solid var(--color-border);
    background-color: var(--color-background);
    box-shadow: var(--shadow-card);
}


.menu a {
    padding: 12px 16px;
    border-radius: 12px;
    transition: color 0.2s, background-color 0.2s;
}

.menu a:hover {
    color: var(--color-primary-dark);
    background-color: var(--color-border);
}
