<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="header.css"> 
    <link rel="stylesheet" href="../../variables.css"> 
</head>
<body>

    <div class="header">
        <div>

            <div class="logo-h">
                <img src="../../../assets/logo-cwb-mall.png" alt="CWB Malls">
            </div>

        </div>

        <div class="direita-h">

            <div class="texto-h">
                <h1>Seja Bem-vindo, Usuário</h1>
            </div>

            <div class="perfil-h">
                <img src="../../../assets/icone.png" alt="icone">
            </div>

        </div>
    </div>

    <nav class="menu">
        <a href="principal.html">Início</a>
        <a href="loja.html">Loja</a>
        <a href="shopping.html">Shopping</a>
    </nav>

</body>
</html>