.header {
    display: flex;
    background-color: var(--color-primary);
    align-items: center;
    gap: 840px;
    padding: 20px 18px 18px 20px;
    height: 70px;
}

.logo-h img {
    width: 178;
    height: 90px;
    margin: 0 0 10px 30px;
}

.texto-h  {
    color: var(--color-surface  );
    font-size: 9px;
    letter-spacing: 0.3px;
    margin: 0 0 0 180px;

}

.perfil-h img {
    margin: 0 0 0 10px;
    width: 45px;
    height: 45px;
}
.direita-h {
    display: flex;
}

.menu{
    height: 30px;
    max-height: 50px;
    width: 100%;
    background-color: var(--color-background);
    border: 5px;
    border-color: var(--color-border);
}