<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <select class="selecionar-fest">

        <option value="" selected disabled>Selecione um shopping</option>
        <option value="palladium">Palladium</option>
        <option value="mueller">Mueller</option>
        <option value="parkshopping">ParkShopping Barigüi</option>
        <option value="jockey">Jockey Plaza</option>
        <option value="curitiba">Shopping Curitiba</option>
        <option value="patio-batel">Pátio Batel</option>
        <option value="crystal">Crystal</option>

    </select>

<input class="filtro" type="text" placeholder="Busque por Shopping, Bairro...">
</body>
</html>