.footer {
    display: flex;
    background-color: var(--color-primary-dark);
    align-items: center;
    gap: 170px;
    padding: 40px 18px 18px 20px;
    height: 150px;
}

.logo-f img {
    width: 178;
    height: 90px;
    margin: 0 0 0 0;
}

.texto1-f {
    color: var(--color-surface);
    font-size: 12px;
    letter-spacing: 0.3px;
    margin: 0 0 30px 0;
}

.meio-f {
    color: var(--color-surface);
    font-size: 15px;
    letter-spacing: 0.3px;
    margin: 0 0 0 0;
}
.direita-f {
    color: var(--color-surface);
    font-size: 15px;
    letter-spacing: 0.3px;
    margin: 70px 0 0 300px;
}