<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./rating.css">
    <link rel="stylesheet" href="../../variables.css">
    <link rel="stylesheet" href="../../global.css">
    <title>Document</title>
</head>
<body>
    <div class="reviews">
        <!-- Reviewer 01 -->
        <article class="review-card">
            <div class="review-header">
                <img class="review-user-icon" src="../../../assets/user-revie1.png" alt="profile user photo">

                <div class="review-stars">
                    <span class="star filled">★</span>
                    <span class="star filled">★</span>
                    <span class="star filled">★</span>
                    <span class="star">☆</span>
                    <span class="star">☆</span>
                </div>
            </div>

            <div class="review-content">
                <h3>Avaliação</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.
                    Ut enim ad mini
                </p>
            </div>
        </article>

        <!-- Reviewer 02 -->
        <article class="review-card">
            <div class="review-header">
                <img class="review-user-icon" src="../../../assets/user-review3.png" alt="profile user photo">

                <div class="review-stars">
                    <span class="star filled">★</span>
                    <span class="star filled">★</span>
                    <span class="star filled">★</span>
                    <span class="star">☆</span>
                    <span class="star">☆</span>
                </div>
            </div>

            <div class="review-content">
                <h3>Avaliação</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.
                    Ut enim ad mini
                </p>
            </div>
        </article>

        <!-- Reviewer 03 -->
        <article class="review-card">
            <div class="review-header">
                <img class="review-user-icon" src="../../../assets/user-review2.png" alt="profile user photo">

                <div class="review-stars">
                    <span class="star filled">★</span>
                    <span class="star filled">★</span>
                    <span class="star filled">★</span>
                    <span class="star">☆</span>
                    <span class="star">☆</span>
                </div>
            </div>

            <div class="review-content">
                <h3>Avaliação</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.
                    Ut enim ad mini
                </p>
            </div>
        </article>
    </div>
</body>
</html>